/* Orbitron */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url('./orbitron-v25-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 500;
    src: url('./orbitron-v25-latin-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 600;
    src: url('./orbitron-v25-latin-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src: url('./orbitron-v25-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    src: url('./orbitron-v25-latin-800.woff2') format('woff2');
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    src: url('./orbitron-v25-latin-900.woff2') format('woff2');
}

/* Exo 2 */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    src: url('./exo-2-v20-latin-300.woff2') format('woff2');
}

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url('./exo-2-v20-latin-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    src: url('./exo-2-v20-latin-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    src: url('./exo-2-v20-latin-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    src: url('./exo-2-v20-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 800;
    src: url('./exo-2-v20-latin-800.woff2') format('woff2');
}

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 900;
    src: url('./exo-2-v20-latin-900.woff2') format('woff2');
}

/* Kanit */
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    src: url('./kanit-v12-latin-300.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: url('./kanit-v12-latin-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    src: url('./kanit-v12-latin-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    src: url('./kanit-v12-latin-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    src: url('./kanit-v12-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 800;
    src: url('./kanit-v12-latin-800.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 900;
    src: url('./kanit-v12-latin-900.woff2') format('woff2');
}

/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('./montserrat-v25-latin-800.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('./montserrat-v25-latin-900.woff2') format('woff2');
}
